In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from datetime import date
import json
from pprint import pprint
# Import API key
from attom_key import api_key

In [18]:
atx_zip_codes = [78702]



headers = {"apikey": api_key, 
           "accept": "application/json"}

params_zip = {"propertytype": "SFR",
              "page": "1",
              "pagesize": "10",
             }

zip_id_url = "https://search.onboard-apis.com/propertyapi/v1.0.0/property/address"



for zipcodes in atx_zip_codes:
    params_zip["postalcode"] = zipcodes
    
    zip_results = requests.get(zip_id_url, headers=headers, params=params_zip).json()
    
    results = zip_results["property"]
    
id_list = []
zip_list = []
    

for i in range(len(results)):
#         print(results[i]["identifier"]["obPropId"])
        id_list.append(results[i]["identifier"]["obPropId"])
        zip_list.append(results[i]["address"]["postal1"])

In [19]:
#create a dataframe to store data
atx_zips_df = pd.DataFrame({"propid": id_list,
                            "zipcode": zip_list})
                           
                           
atx_zips_df

           propid zipcode
0  14613366148453   78702
1  16678666048453   78702
2  16678667148453   78702
3  16678666148453   78702
4   4759621548453   78702
5  16602226348453   78702
6   4442096648453   78702
7  16678666248453   78702
8   5080471148453   78702
9   3371319348453   78702

In [21]:
atx_zips_df.dtypes

propid      int64
zipcode    object
dtype: object

In [46]:
atx_zips_df["ass1"] = ""
atx_zips_df["year1"] = ""
atx_zips_df["ass2"] = ""
atx_zips_df["year2"] = ""
atx_zips_df["ass3"] = ""
atx_zips_df["year3"] = ""
atx_zips_df["ass4"] = ""
atx_zips_df["year4"] = ""
atx_zips_df["ass5"] = ""
atx_zips_df["year5"] = ""
atx_zips_df["ass6"] = ""
atx_zips_df["year6"] = ""
atx_zips_df["ass7"] = ""
atx_zips_df["year7"] = ""
atx_zips_df["ass8"] = ""
atx_zips_df["year8"] = ""
atx_zips_df["ass9"] = ""
atx_zips_df["year9"] = ""
atx_zips_df["ass10"] = ""
atx_zips_df["year10"] = ""
atx_zips_df["ass11"] = ""
atx_zips_df["year11"] = ""
atx_zips_df

,propid,zipcode,ass1,year1,ass2,year2,ass3,year3,ass4,year4,...,ass7,year7,ass8,year8,ass9,year9,ass10,year10,ass11,year11
0,14613366148453,78702,,,,,,,,,...,,,,,,,,,,
1,16678666048453,78702,,,,,,,,,...,,,,,,,,,,
2,16678667148453,78702,,,,,,,,,...,,,,,,,,,,
3,16678666148453,78702,,,,,,,,,...,,,,,,,,,,
4,4759621548453,78702,,,,,,,,,...,,,,,,,,,,
5,16602226348453,78702,,,,,,,,,...,,,,,,,,,,
6,4442096648453,78702,,,,,,,,,...,,,,,,,,,,
7,16678666248453,78702,,,,,,,,,...,,,,,,,,,,
8,5080471148453,78702,,,,,,,,,...,,,,,,,,,,
9,3371319348453,78702,,,,,,,,,...,,,,,,,,,,

In [43]:
headers = {"apikey": api_key, 
           "accept": "application/json"}

params_ass = {"id":"14613366148453"}

ass_url = "https://search.onboard-apis.com/propertyapi/v1.0.0/assessmenthistory/detail"


    # assemble url and make API request
ass_results = requests.get(ass_url, headers=headers, params=params_ass).json()
    
    # extract results
results_ass = ass_results["property"][0]["assessmenthistory"]

for i in range(len(results_ass)):
    
    print(results_ass[i]["assessed"]["assdttlvalue"])
    print(results_ass[i]["tax"]["taxyear"])

243915
2016
268307
2016
221741
2015
201583
2013
183257
2012
169931
2012
169931
2012
169931
2012
151452
2011
153278
2010
140998
2008

In [ ]:
headers = {"apikey": api_key, 
           "accept": "application/json"}

params_ass = {}

ass_url = "https://search.onboard-apis.com/propertyapi/v1.0.0/assessmenthistory/detail"

# use iterrows to iterate through pandas dataframe
for index, row in atx_zips_df.iterrows():

    # get restaurant type from df
    propid = row["propid"]

    # add keyword to params dict
    params_ass["id"] = propid

    # assemble url and make API request
    ass_results = requests.get(ass_url, params=params_ass).json()
    
    # extract results
    results_ass = ass_results["property"]
    
    print(len(results_ass))
    
#     try:
#         print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
#         types_df.loc[index,'name'] = results[0]['name']
#         types_df.loc[index,'address'] = results[0]['vicinity']
#         types_df.loc[index,'price_level'] = results[0]['price_level']
#         types_df.loc[index,'rating'] = results[0]['rating']
        
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")