In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

atx_housing = "assessment_by_zip_csv/assessment_history_by_zipcode_combined.csv"

atx_housing_df = pd.read_csv(atx_housing)
# atx_housing_df.dropna(axis=0, inplace=True)
atx_housing_df.head()

,propid,zip,appraisal_2017,appraisal_2016,appraisal_2015,appraisal_2014,appraisal_2013
0,1.660220e+13,78702,473405,276086,345169,291544,209168
1,4.442100e+12,78702,865137,917886,643887,556703,110000
2,5.080470e+12,78702,1047246,1241888,1010125,832768,427969
3,1.441750e+13,78702,2061465,1549421,1073359,889790,1005585
4,2.929880e+12,78702,715305,583486,387576,388557,389373

In [2]:
zip_count = atx_housing_df.groupby("zip").count()
zip_count

,propid,appraisal_2017,appraisal_2016,appraisal_2015,appraisal_2014,appraisal_2013
zip,,,,,,
78702,493,493,493,493,493,493
78704,497,497,497,497,497,497
78731,498,498,498,498,498,498
78746,496,496,496,496,496,496
78751,495,495,495,495,495,495

In [3]:
zip_group = atx_housing_df.groupby("zip").mean()
zip_group1 = zip_group.drop(columns=["propid"])

zip_group1

,appraisal_2017,appraisal_2016,appraisal_2015,appraisal_2014,appraisal_2013
zip,,,,,
78702,448190.612576,400830.470588,349673.582150,303649.764706,210200.395538
78704,428413.835010,378487.941650,347807.754527,312662.631791,228935.295775
78731,789825.170683,773869.763052,713834.353414,683897.979920,603906.176707
78746,869811.409274,841829.217742,777883.631048,711603.338710,596187.709677
78751,545357.898990,519598.985859,469314.884848,416629.729293,381931.549495

In [6]:
zip_group1["delta_13_14"] = ((zip_group1.appraisal_2014 - zip_group1.appraisal_2013) / zip_group1.appraisal_2013) * 100
zip_group1["delta_14_15"] = ((zip_group1.appraisal_2015 - zip_group1.appraisal_2014) / zip_group1.appraisal_2014) * 100
zip_group1["delta_15_16"] = ((zip_group1.appraisal_2016 - zip_group1.appraisal_2015) / zip_group1.appraisal_2015) * 100
zip_group1["delta_16_17"] = ((zip_group1.appraisal_2017 - zip_group1.appraisal_2016) / zip_group1.appraisal_2013) * 100
zip_group1["total_delta"] = ((zip_group1.appraisal_2017 - zip_group1.appraisal_2013) / zip_group1.appraisal_2013) * 100

zip_group1

,appraisal_2017,appraisal_2016,appraisal_2015,appraisal_2014,appraisal_2013,delta_13_14,delta_14_15,delta_15_16,delta_16_17,total_delta
zip,,,,,,,,,,
78702,448190.612576,400830.470588,349673.582150,303649.764706,210200.395538,44.457276,15.156876,14.629898,22.530948,113.220632
78704,428413.835010,378487.941650,347807.754527,312662.631791,228935.295775,36.572489,11.240589,8.821019,21.807862,87.133152
78731,789825.170683,773869.763052,713834.353414,683897.979920,603906.176707,13.245734,4.377316,8.410272,2.642034,30.786073
78746,869811.409274,841829.217742,777883.631048,711603.338710,596187.709677,19.358941,9.314219,8.220457,4.693520,45.895562
78751,545357.898990,519598.985859,469314.884848,416629.729293,381931.549495,9.084921,12.645558,10.714363,6.744380,42.789434

In [7]:
zip_group_final = zip_group1[["total_delta", "appraisal_2017", "delta_16_17", "appraisal_2016", "delta_15_16", "appraisal_2015", "delta_14_15", "appraisal_2014", "delta_13_14", "appraisal_2013"]]
zip_group_final

,total_delta,appraisal_2017,delta_16_17,appraisal_2016,delta_15_16,appraisal_2015,delta_14_15,appraisal_2014,delta_13_14,appraisal_2013
zip,,,,,,,,,,
78702,113.220632,448190.612576,22.530948,400830.470588,14.629898,349673.582150,15.156876,303649.764706,44.457276,210200.395538
78704,87.133152,428413.835010,21.807862,378487.941650,8.821019,347807.754527,11.240589,312662.631791,36.572489,228935.295775
78731,30.786073,789825.170683,2.642034,773869.763052,8.410272,713834.353414,4.377316,683897.979920,13.245734,603906.176707
78746,45.895562,869811.409274,4.693520,841829.217742,8.220457,777883.631048,9.314219,711603.338710,19.358941,596187.709677
78751,42.789434,545357.898990,6.744380,519598.985859,10.714363,469314.884848,12.645558,416629.729293,9.084921,381931.549495

In [8]:
zip_group_final.to_csv("housing_final_by_zip.csv")