In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
atx_zip_78702 = "assessment_by_zip_csv/assessment_history_by_zipcode_78702.csv"
atx_zip_78704 = "assessment_by_zip_csv/assessment_history_by_zipcode_78704.csv"
atx_zip_78731 = "assessment_by_zip_csv/assessment_history_by_zipcode_78731.csv"
atx_zip_78746 = "assessment_by_zip_csv/assessment_history_by_zipcode_78746.csv"
atx_zip_78751 = "assessment_by_zip_csv/assessment_history_by_zipcode_78751.csv"

# Read the City and Ride Data
atx_78702_df = pd.read_csv(atx_zip_78702)
atx_78704_df = pd.read_csv(atx_zip_78704)
atx_78731_df = pd.read_csv(atx_zip_78731)
atx_78746_df = pd.read_csv(atx_zip_78746)
atx_78751_df = pd.read_csv(atx_zip_78751)

# Combine the data into a single dataset
# pyber_df = pd.merge(ride_data_df, city_data_df, how="outer", on="city")


# Display the data table for preview
atx_78702_df.count()

propid            493
zip               493
appraisal_2017    493
appraisal_2016    493
appraisal_2015    493
appraisal_2014    493
appraisal_2013    493
dtype: int64

In [2]:
atx_78704_df.count()

propid            497
zip               497
appraisal_2017    497
appraisal_2016    497
appraisal_2015    497
appraisal_2014    497
appraisal_2013    497
dtype: int64

In [8]:
com_atx_df = pd.merge(atx_78702_df, atx_78704_df, on=None, how="outer")
com_atx_df.count()

propid            990
zip               990
appraisal_2017    990
appraisal_2016    990
appraisal_2015    990
appraisal_2014    990
appraisal_2013    990
dtype: int64

In [9]:
atx_78731_df.count()

Unnamed: 0        498
propid            498
zip               498
appraisal_2017    498
appraisal_2016    498
appraisal_2015    498
appraisal_2014    498
appraisal_2013    498
dtype: int64

In [13]:
com1_atx_df = pd.merge(com_atx_df, atx_78731_df, on=None, how="outer")
com1_atx_df.count()

propid            1488
zip               1488
appraisal_2017    1488
appraisal_2016    1488
appraisal_2015    1488
appraisal_2014    1488
appraisal_2013    1488
Unnamed: 0         498
dtype: int64

In [14]:
atx_78746_df.count()

propid            496
zip               496
appraisal_2017    496
appraisal_2016    496
appraisal_2015    496
appraisal_2014    496
appraisal_2013    496
dtype: int64

In [19]:
com2_atx_df = pd.merge(com1_atx_df, atx_78746_df, on=None, how="outer")
com2_atx_df.count()

propid            1984
zip               1984
appraisal_2017    1984
appraisal_2016    1984
appraisal_2015    1984
appraisal_2014    1984
appraisal_2013    1984
Unnamed: 0         498
dtype: int64

In [16]:
atx_78751_df.count()

propid            495
zip               495
appraisal_2017    495
appraisal_2016    495
appraisal_2015    495
appraisal_2014    495
appraisal_2013    495
dtype: int64

In [20]:
combined_atx_df = pd.merge(com2_atx_df, atx_78751_df, on=None, how="outer")
print(combined_atx_df.count())
combined_atx_df.head()

propid            2479
zip               2479
appraisal_2017    2479
appraisal_2016    2479
appraisal_2015    2479
appraisal_2014    2479
appraisal_2013    2479
Unnamed: 0         498
dtype: int64

,propid,zip,appraisal_2017,appraisal_2016,appraisal_2015,appraisal_2014,appraisal_2013,Unnamed: 0
0,1.660220e+13,78702,473405,276086,345169,291544,209168,NaN
1,4.442100e+12,78702,865137,917886,643887,556703,110000,NaN
2,5.080470e+12,78702,1047246,1241888,1010125,832768,427969,NaN
3,1.441750e+13,78702,2061465,1549421,1073359,889790,1005585,NaN
4,2.929880e+12,78702,715305,583486,387576,388557,389373,NaN

In [22]:
combined_atx_df.dropna(axis=1, inplace=True)
combined_atx_df.head()

,propid,zip,appraisal_2017,appraisal_2016,appraisal_2015,appraisal_2014,appraisal_2013
0,1.660220e+13,78702,473405,276086,345169,291544,209168
1,4.442100e+12,78702,865137,917886,643887,556703,110000
2,5.080470e+12,78702,1047246,1241888,1010125,832768,427969
3,1.441750e+13,78702,2061465,1549421,1073359,889790,1005585
4,2.929880e+12,78702,715305,583486,387576,388557,389373

In [23]:
combined_atx_df.to_csv("assessment_history_by_zipcode_combined.csv")